{%
    set configTable = {
                                'id': 'weightcontrol', 
                                'title': 'Peso', 
                                'icon': 'balance-scale',
                                'noOptions':true,
                                'viewdata': {'url': 'weightcontrol_insertformweightcontrol', 'paramsurl': {'item_type': _itemtype, 'item_id': _itemid }, 'extralink': 'data-target="#modal_ajax" data-toggle="modal"'},
                                'fields': {'weightdate': {'title': 'Fecha'}, 'weight': {'title':'Peso', 'link_view': true}}
                               }
%}

{% if insertAllow is defined and insertAllow==true %}{% set configTable = configTable|merge( {'insertdata': {'url': path('weightcontrol_insertformweightcontrol', {'item_type': _itemtype, 'item_id': _itemid} ), 'extralink': 'data-target="#modal_ajax" data-toggle="modal"'}}) %}{% endif %}

{% include('BEInterfaceBundle:_Default:warningfromflash.html.twig') %}
{% include('BEInterfaceBundle:_Default:errorfromflash.html.twig') %}

{% include 'BEInterfaceBundle:_Modules:viewtablescript.html.twig' %}
